<CommonDropdown ref:dropdown>
    <div class="select-users">
        <div class="horizontal">
            <UserPic user="{debouncedUser}"></UserPic>
            <input
                type="text"
                class="flex"
                placeholder="Add User: first.last"
                bind:value="addUser"
                on:keydown="onAddUserText(event)"
            />
            <button on:click="onAddUserText()"><i class="material-icons">add</i></button>
        </div>
        <div class="seperator"></div>
        {#each knownUsers as knownUser (knownUser)}
        <label>
            <input
                type="checkbox"
                bind:group="assignees"
                value="{knownUser}"
            >
            <div
                title="{knownUser}"
                class="row horizontal center"
            >
                <UserPic user="{knownUser}"></UserPic>
                <span>{knownUser}</span>
            </div>
        </label>
        {/each}
    </div>
</CommonDropdown>
<div class="vertical center">
    <div class="label">Assign</div>
    {#each assignees as assignee (assignee)}
    <div class="assignee">
        <UserPic user="{assignee}"></UserPic>
    </div>
    {/each}
    <i title="Add Assignees" class="material-icons add-assignee" on:click="openDropdown()">add</i>
</div>

<style>
    .select-users {
        background: #eee;
        border-radius: 5px;
        padding: 1rem;
        overflow-y: auto;
        max-height: 50vh;
        user-select: none;
    }

    .select-users i {
        position: relative;
        top: 2px;
    }

    .select-users input[type="checkbox"] {
        display: none;
    }

    .select-users label {
        margin: .5rem 0;
    }

    .select-users .row {
        padding: .25rem;
        border-radius: 5px;
        border: 1px solid #eee;
        background: white;
        cursor: pointer;
    }

    .select-users input:checked~.row {
        border: 1px solid #6f6f90;
    }

    .seperator {
        width: 5rem;
        height: .1rem;
        background: #6f6f90;
        margin: .25rem auto;
    }

    label:checked {
        border: 1px solid black;
    }

    .label {
        margin-top: .75rem;
        font-size: .85rem;
        font-weight: 600; 
    }

    .assignee, .add-assignee {
        margin-top: .5rem;
    }

    .assignee :global(.pic) {
        margin: 0;
    } 

    .add-assignee {
        padding: .5rem;
        border: 2px dashed #333;
        border-radius: 2rem;
        cursor: pointer;
    }
</style>

<script>
    import { getKnownUsers, pushUser } from '../Services/Users.service';
    import debounce from 'lodash.debounce';

    const updateDebouncedUser = debounce((self, debouncedUser) => {
        self.set({ debouncedUser });
    }, 500);


    export default {
        data: () => ({
            knownUsers: getKnownUsers(),
            addUser: '',
            debouncedUser: '',
            assignees: [],
        }),
        onupdate({ changed, current }) {
            if (changed.addUser) {
                updateDebouncedUser(this, current.addUser);
            }
        },
        methods: {
            openDropdown() {
                this.refs.dropdown.open("left");
            },
            onAddUserText(e) {
                if (!e || e.keyCode == 13) {
                    const { addUser } = this.get();
                    if (addUser) {
                        pushUser(addUser);
                        this.set({ addUser: '', knownUsers: getKnownUsers() });
                    }
                }
            }
        },
        components: {
            CommonDropdown: '../Common/CommonDropdown.html',
            UserPic: '../Common/UserPic.html',
        }
    }
</script>