<div class="header">Comments</div>
<BugCreateComment on:value="createComment(event.value)"></BugCreateComment>
{#each sortedComments as comment (comment.id)}
<BugComment {comment}></BugComment>
{/each}
<br />

<style>
    .header {
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 1rem;
    }
</style>

<script>
    import { getBugComments, createBugComment } from '../Services/bugzilla.service';
    import { getLogin } from '../Services/login.service';
    import { BugsStore } from '../Services/Bugs.store';

    export default {
        data: () => ({ comments: [] }),
        oncreate() {
            const updateListener = this.on('update', ({ changed, current }) => {
                if (changed.id) {
                    this.sub && this.sub.unsubscribe();
                    this.sub = BugsStore.comments$(current.id).subscribe(comments => {
                        this.set({ comments: comments });
                    }, console.error);
                }
            });
            
            if (this.get().id) {
                this.sub = BugsStore.comments$(current.id).subscribe(comments => {
                    this.set({ comments: comments });
                }, console.error);
            }

            this.on('destroy', updateListener.cancel);
            this.on('destroy', () => this.sub && this.sub.unsubscribe());
        },
        computed: {
            sortedComments: ({ comments }) => (comments || []).sort((a, b) => b.creation_time - a.creation_time),
        },
        methods: {
            createComment(value) {
                createBugComment(this.get().id, value);
            },
        },
        components: {
            BugComment: './BugComment.html',
            BugCreateComment: './BugCreateComment.html',
        }
    }
</script>