<BugTextArea label="COMMENT" editing="true" bind:value="value"></BugTextArea>
<div class="horizontal">
    <div class="flex"></div>
    <button class="save-button shadow-1" on:click="onSave()" disabled="{!value}">Save Comment</button>
</div>

<style>
    .save-button {
        border: none;
        background: #575664;
        color: white;
        font-weight: 500;
        padding: .75rem 2.25rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .save-button[disabled] {
        opacity: .6;
        color: #9e9e9e;
        box-shadow: none;
        cursor: initial;
    }
</style>

<script>
    export default {
        data: () => ({ value: '' }),
        methods: {
            onSave() {
                const { value } = this.get();
                if (value) {
                    this.fire('value', { value });
                    this.set({ value: '' });
                }
            }
        },
        components: {
            BugTextArea: './BugTextArea.html',
        }
    }
</script>