<div class="creator-info">[{date}] {comment.creator} Says:</div>
<div class="horizontal">
    <div class="creator-img">
        <UserPic user="{comment.creator}" />
    </div>
    <div class="flex md">
        <CommonMdArea value="{comment.text}"></CommonMdArea>
    </div>
</div>

<style>
    .creator-info {
        margin-top: 2rem;
        margin-bottom: .5rem;
        color: #ddd;
        text-transform: capitalize;
    }

    .creator-img {
        width: 3rem;
        flex: 0 0 3rem;
    }

    .creator-img :global(.pic) {
        height: 3rem;
        width: 3rem;
        border-radius: 3rem;
        background-size: 3rem;
        background-position: center;
        margin-right: 0;
        line-height: 3rem;
    }

    .md {
        margin: 0 1rem;
        border: 1px solid #333;
    }

    .md :global(pre), .md :global(code) {
        background: #6f7090;
        color: wheat;
    }
</style>

<script>
    export default {
        components: {
            CommonMdArea: '../Common/CommonMdArea.html',
            UserPic: '../Common/UserPic',
        },
        computed: {
            date: ({ comment }) => !comment ? '' : new Intl.DateTimeFormat('en-us', { dateStyle: 'full', timeStyle: 'short' }).format(new Date(comment.creation_time))
        }
    }
</script>