<div class="bugTextArea">
    {#if editing || value}
    <div class="area-label">{label}</div>
    <div class="area-content">
        {#if editing}
        <input class="flex" list="allEpics" bind:value />
        {:else}
        <div>{selectedEpic}</div>
        {/if}
    </div>
    {/if}
</div>

<datalist id="allEpics">
    {#each epics as epic}
    <option value="{epic.id}">{epic.summary}</option>
    {/each}
</datalist>

<style>
    .bugTextArea {
        margin-bottom: .5rem;
    }

    .area-label {
        margin-left: 1rem;
        font-size: 1.75rem;
        font-weight: 100;
    }

    .area-content {
        background: #464646;
        border: 1px solid #333;
    }

    .area-content > div {
        padding: .5rem;
    }

    input {
        width: 100%;
        font-family: monospace;
        background: #545454;
        color: #ccc;
        height: 2rem;
        border-radius: 0;
        margin: 0;
        border: 1px solid #333;
    }
</style>

<script>
    import { BugsStore } from '../Services/Bugs.store';

    export default {
        store: () => BugsStore,
        computed: {
            epics: ({ $bugs }) => [{ id: null, summary: 'This card is an epic' }, ...($bugs || []).filter(b => b.blocks[0] == 'null')],
            selectedEpic: ({ $bugs, value }) => (($bugs || []).find(b => b.id == value) || { summary: 'This card is an epic' }).summary,
        },
    }
</script>