<div class="bugStatusHeader_status horizontal" on:click="openDropdown()">
    <div style="height: 1rem">
        <CommonDropdown ref:dropdown>
            <BugStatusMenu on:change="changeStatus(event.status)"></BugStatusMenu>
        </CommonDropdown>
    </div>
    <div>{status}</div>
    <i class="material-icons">keyboard_arrow_down</i>
</div>

<script>
    import { StatusColors } from '../StatusColors';

    export default {
        methods: {
            openDropdown() {
                this.refs.dropdown.open();
            },
            changeStatus(status) {
                this.refs.dropdown.close();
                this.set({ status });
            }
        },
        components: {
            CommonDropdown: '../Common/CommonDropdown.html',
            BugStatusMenu: './BugStatusMenu.html',
        }
    }
</script>

<style>
    .bugStatusHeader_status {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        cursor: pointer;
    }

    .bugStatusHeader_status i {
        position: absolute;
        padding-left: 2rem;
        right: 0;
        top: 0;
        transform: translateX(2rem);
        line-height: 2rem;
    }

    .bugStatusHeader_status {
        z-index: 1;
    }
</style>