<div class="stamp">
    <i
        class="material-icons"
        title={stamp.label}
    >{stamp.icon}</i>
</div>

<style>
    .stamp {
        margin-left: .125rem;
    }

    .stamp i {
        cursor: default;
    }
</style>