<CommonDropdown ref:dropdown>
    <div class="select-stamp">
        <div class="horizontal">
            <IconSelector bind:selectedIcon="addStampIcon" {omittedIcons}></IconSelector>
            <input type="text" class="flex" placeholder="Add Stamp Label" bind:value="addStampLabel"
                on:keydown="onAddStampLabel(event)" />
            <button on:click="onAddStampLabel()"><i class="material-icons">add</i></button>
        </div>
        {#if error}
        <div class="error">{error}</div>
        {/if}
        <div class="seperator"></div>
        {#each knownStamps as knownStamp (knownStamp.icon)}
        <label>
            <input
                type="checkbox"
                bind:group="stampIds"
                value="{knownStamp.icon}"
                hidden
            >
            <div class="row horizontal center">
                <i class="material-icons known-stamp-icon">{knownStamp.icon}</i>
                <span>{knownStamp.label}</span>
            </div>
        </label>
        {/each}
    </div>
</CommonDropdown>
<div class="vertical center">
    <div class="label">Stamps</div>
    {#each stamps as stamp (stamp.icon)}
    <i title="{stamp.label}" class="material-icons stamp">{stamp.icon}</i>
    {/each}
    <i title="Add Stamps" class="material-icons add-stamps" on:click="openDropdown('left')">add</i>
</div>

<style>
    .label {
        margin-top: .75rem;
        font-size: .85rem;
        font-weight: 600;
    }

    .select-stamp {
        background: #eee;
        border-radius: 5px;
        padding: 1rem;
        overflow-y: auto;
        max-height: 50vh;
        user-select: none;
    }

    .select-stamp label {
        margin: .5rem 0;
    }

    .select-stamp .row {
        padding: .25rem;
        border-radius: 5px;
        border: 1px solid #eee;
        background: white;
        cursor: pointer;
    }

    .select-stamp input:checked ~ .row {
        border: 1px solid #6f6f90;
    }

    .seperator {
        width: 5rem;
        height: .1rem;
        background: #6f6f90;
        margin: .25rem auto;
    }

    .known-stamp-icon {
        margin-right: .5rem;
    }

    .error {
        color: #df768f;
    }

    .stamp, .add-stamps {
        margin-top: .5rem;
    }

    .add-stamps {
        padding: .5rem;
        border: 2px dashed #333;
        border-radius: 2rem;
        cursor: pointer;
    }
</style>

<script>
    import { getKnownStamps, pushStamp } from '../Services/Stamps.service';

    export default {
        data: () => ({
            stampIds: [],
            knownStamps: getKnownStamps(),
            addStampLabel: '',
            addStampIcon: '',
        }),
        computed: {
            omittedIcons: ({ knownStamps }) => knownStamps.map(stamp => stamp.icon),
            stamps: ({ knownStamps, stampIds }) => stampIds.map(id => knownStamps.find(ks => ks.icon == id)),
        },
        methods: {
            openDropdown(dir) {
                this.refs.dropdown.open(dir);
            },
            onAddStampLabel(e) {
                const { addStampLabel, addStampIcon } = this.get();
                if ((!e || e.keyCode == 13) && addStampLabel && addStampIcon) {
                    pushStamp({ icon: addStampIcon, label: addStampLabel });
                    this.set({ addStampIcon: '', addStampLabel: '', knownStamps: getKnownStamps() });
                } else if ((!e || e.keyCode == 13) && !addStampLabel) {
                    this.set({ error: 'Whoa! Provide a label' });
                } else if ((!e || e.keyCode == 13) && !addStampIcon) {
                    this.set({ error: 'Whoa! Pick an icon' });
                }
            }
        },
        components: {
            CommonDropdown: '../Common/CommonDropdown',
            IconSelector: './IconSelector',
        }
    }
</script>