<div class="bugStatusMenu vertical shadow-3">
    <button on:click="fire('change', {status: 'NEW'})">New</button>
    <button on:click="fire('change', {status: 'ASSIGNED'})">Assigned</button>
    <button on:click="fire('change', {status: 'RESOLVED'})">Resolved</button>
    <button on:click="fire('change', {status: 'VERIFIED'})">Verified</button>
    <button on:click="fire('change', {status: 'CLOSED'})">Closed</button>
</div>

<style>
    .bugStatusMenu {
        overflow: hidden;
        background: #5c5c5c;
        border: 1px solid #333;
    }

    button {
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        margin: 0;
        padding: .5rem 2rem;
        color: #ccc;
    }

    button:hover, button:active {
        background: #3c3c3c;
    }
</style>
