<div class="vertical bug-status-header">
    <div class="row top-row horizontal">
        <div href="/#/" class="header-id">
            <span>{id}</span>
            <span ref:slide class="after" style="background-color: {statusColor}"></span>
        </div>
        <div class="flex"></div>
        {#if !editing}
        <i class="material-icons bug-status-header_icon delete" on:click="deleteBug()">delete</i>
        {/if}
        <i class="material-icons bug-status-header_icon edit" on:click="toggleEditing()">{!editing ? 'edit' :
            'save'}</i>
        <BugStatusDropdown bind:status=status></BugStatusDropdown>
    </div>
    <div class="row summary">
        {title}
        {#if editing}
        <i class="material-icons bug-status-header_icon edit-name-icon" title="Edit Name" on:click="editName()">edit</i>
        {/if}
    </div>
</div>

<style>
    .bug-status-header {
        color: #ccc;
        background: #3c3c3c;
        border-bottom: 1px solid #333;
    }

    .row {
        height: 2rem;
        line-height: 2rem;
        text-align: center;
    }

    .header-id {
        position: relative;
        color: white;
        overflow: hidden;
        padding-right: 32px;
        padding-left: 1rem;
        text-decoration: none;
        height: 100%;
    }

    .header-id .after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        transform: skew(-35deg) translate3d(-16px, 0, 0);
    }

    .header-id span {
        position: relative;
        z-index: 2;
    }

    .bug-status-header_icon {
        cursor: pointer;
        padding: .25rem;
        border-radius: 1rem;
        margin: 0 .25rem;
        color: #ccc;
    }

    .bug-status-header_icon:hover {
        background: #5f5f5f;
    }

    .edit-name-icon {
        vertical-align: bottom;
    }
</style>

<script>
    import { StatusColors } from '../StatusColors';
    import { BugsStore } from '../Services/Bugs.store';
    import { navigate, getActivatedRoute } from '../router/router.service';

    const slideAnimationFrames = [
        { transform: 'skew(-35deg) translate3d(-125%, 0, 0)' },
        { transform: 'skew(-35deg) translate3d(-16px, 0, 0)' },
    ];

    const slideTiming = {
        duration: 350,
        easing: 'ease',
        iterations: 1,
    }

    export default {
        data: () => ({ editing: false }),
        oncreate() {
            const slideAnimation = this.refs.slide.animate(slideAnimationFrames, slideTiming);
            slideAnimation.pause();
            this.set({ slideAnimation });
            if (getActivatedRoute().params.id === 'create' && !this.get().title)
                setImmediate(() => this.editName());
        },
        onupdate({ changed, current }) {
            if (changed.status && !!current.status && current.slideAnimation) {
                this.get().slideAnimation.play();
            }
        },
        methods: {
            toggleEditing() {
                this.set({ editing: !this.get().editing });
            },
            editName() {
                const title = prompt('Set a new name: ', this.get().title);
                if(!title || title.length === 0) return;

                this.set({ title });
            },
            deleteBug() {
                BugsStore.delBug(this.get().id).then(() => {
                    navigate('/board');
                });
            }
        },
        computed: {
            statusColor: ({ status }) => !!status
                ? StatusColors[status.toUpperCase()] || StatusColors.default
                : StatusColors.default
        },
        components: {
            BugStatusDropdown: './BugStatusDropdown.html',
        }
    }
</script>