<div class="bugTextArea">
    {#if editing || value}
    <div class="area-label">{label}</div>
    <div class="area-content">
        {#if editing}
        <textarea class="bugTextArea_narrative flex" bind:value></textarea>
        {:else}
        <CommonMdArea bind:value enableLists></CommonMdArea>
        {/if}
    </div>
    {/if}
</div>

<style>
    .bugTextArea {
        margin-bottom: .5rem;
    }
    .area-label {
        margin-left: 1rem;
        font-size: 1.75rem;
        font-weight: 100;
    }
    .area-content {
        background: #464646;
        border: 1px solid #333;
    }
    textarea {
        width: 100%;
        font-family: monospace;
        background: #545454;
        color: #ccc;
        height: 6rem;
        resize: vertical;
        border-radius: 0;
        margin: 0;
        margin-bottom: -4px;
        border: 1px solid #333;
    }
</style>

<script>
    export default {
        components: {
            CommonMdArea: '../Common/CommonMdArea.html'
        }
    }
</script>
