<div id="bug_view">
    <div id="backdrop" on:click="close()"></div>
    <div id="edit_bug" class="shadow-5">
        {#if updating}
            <div id="update-block" class="vertical">
                <i class="material-icons">refresh</i>
            </div>
        {/if}
        <div class="status-header">
            <BugStatusHeader bind:title="edit_title" id="{bug.id}" bind:status="edit_status" bind:editing></BugStatusHeader>
        </div>
        <div class="content">
            <div class="horizontal">
                <div class="flex">
                    <BugEpicSelector label="EPIC" bind:value="edit_epic" {editing}></BugEpicSelector>
                    <BugTextArea label="NARRATIVE" bind:value="edit_summary" {editing}></BugTextArea>
                    <BugTextArea label="AC" bind:value="edit_ac" {editing}></BugTextArea>
                    <BugTextArea label="TODO" bind:value="edit_todo" {editing}></BugTextArea>
                </div>
                <div class="right-panel">
                    <BugStamps stampIds={(edit_stamps || []).map(s => s.icon)} bind:stamps="edit_stamps"></BugStamps>
                    <BugAssignees bind:assignees="edit_assignees"></BugAssignees>
                </div>
            </div>
            <BugComments id="{bug.id}"></BugComments>
        </div>
    </div>
</div>

<style>
    #bug_view {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        color: #ccc;
    }

    .status-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #backdrop {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(66, 66, 66, .55);
    }
    
    #edit_bug {
        position: relative;
        margin: auto;
        height: 85%;
        width: 70%;
        max-width: 768px;
        background: #464646;
        border: 1px solid #333;
        padding-top: 4rem;
    }

    #update-block {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: all;
        z-index: 5;
        background: rgba(0, 0, 0, .15);
    }

    #update-block i {
        margin: auto;
        font-size: 20rem;
        opacity: .15;
        animation: updating 1s ease-out infinite;
    }

    .content {
        max-height: 100%;
        overflow-y: auto;
        padding: .5rem;
    }
    .right-panel {
        margin-left: .5rem;
    }
</style>

<script>
    import { AppStore } from '../Services/App.store';
    import { BugsStore } from '../Services/Bugs.store';
    import { getBug } from '../Services/bugzilla.service';
    import { updateBug } from './BugUpdater';
    import BugPriorityService from '../Services/BugPriority.service';
    import { getActivatedRoute, navigate } from '../router/router.service';
    import { getColumn } from '../Services/Columns';

    export default {
        data: () => ({ bug: {}, updating: false, }),
        store: () => AppStore,
        oncreate() {
            const appState = this.store.get();
            const bugId = getActivatedRoute().params.id;
            if (bugId === 'create') {
                console.log('Creating');
                
                this.pushBugState({
                    id: Date.now(),
                    summary: '',
                    cf_summary: '',
                    cf_real_acceptance_criteria: '',
                    cf_to_do: '',
                    status: 'NEW',
                    data: {}
                });
                this.set({ editing: true });
                return;
            }

            BugsStore.getBug(bugId).then(foundBug => {
                if (foundBug) {
                    this.pushBugState(foundBug);
                } else {
                    navigate('/board');
                }
            });
        },
        methods: {
            close() {
                const data = this.get();
                console.log(data);

                updateBug(data.bug.id, {
                    status: data.edit_status,
                    summary: data.edit_title,
                    cf_summary: data.edit_summary,
                    cf_real_acceptance_criteria: data.edit_ac,
                    cf_to_do: data.edit_todo,
                    blocks: [data.edit_epic],
                    data: {
                        assignees: data.edit_assignees,
                        stamps: data.edit_stamps,
                        priority: data.bug.status == data.edit_status 
                            ? data.bug.data.priority 
                            : BugPriorityService.calcPriorityForStatusUpdate(data.bug.blocks[0], getColumn({ status: data.edit_status })),
                    }
                });

                navigate('/board');
            },
            pushBugState(bug) {
                console.log(bug);
                this.set({
                    bug,
                    edit_epic: (bug.blocks || [])[0] || null,
                    edit_title: bug.summary || '',
                    edit_assignees: bug.data.assignees || [],
                    edit_stamps: bug.data.stamps || [],
                    edit_status: bug.status,
                    edit_summary: bug.cf_summary,
                    edit_ac: bug.cf_real_acceptance_criteria,
                    edit_todo: bug.cf_to_do,
                });
            }
        },
        components: {
            BugEpicSelector: './BugEpicSelector.html',
            BugTextArea: './BugTextArea.html',
            BugStatusHeader: './BugStatusHeader.html',
            BugComments: './BugComments.html',
            BugAssignees: './BugAssignees.html',
            BugStamps: './BugStamps.html',
        }
    }
</script>