<div class="positioner">
    <i class="material-icons selected" on:click="toggleAllIcons()">{selectedIcon || 'add'}</i>
    <div class="all-icons horizontal wrap center" class:visible="showIcons">
        <input
            type="text"
            placeholder="Filter"
            bind:value="iconFilter" />
        <div class="seperator"></div>
        {#each filteredIcons as icon (icon)}
        <i class="material-icons" class:selected="selectedIcon == icon" on:click="selectIcon(icon)" title={icon}>{icon}</i>
        {:else}
        <div style="text-align: center">No results</div>
        {/each}
    </div>
</div>

<style>
    i {
        height: 2.65rem;
        width: 2.65rem;
        padding-top: 0.35rem;
        background: white;
        border-radius: 50%;
        margin-right: .5rem;
        border: 4px solid #eee;
        text-align: center;
        cursor: pointer;
    }
    
    i.selected {
        border: 4px solid #6f7090;
    }

    .all-icons {
        display: none;
        padding: 1rem;
        background: #eee;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(calc(-100% + 4px), 0, 0);
        width: 25vw;
        max-height: 75vh;
        overflow-y: auto; 
        overflow-x: hidden;
    }

    .all-icons.visible {
        display: block;
    }

    .seperator {
        width: 5rem;
        height: .1rem;
        background: #6f6f90;
        margin: .25rem auto;
    }

    input {
        width: 100%;
    }
</style>

<script>
    import { AllIcons } from '../Common/AllIcons';

    export default {
        data: () => ({ allIcons: AllIcons, iconFilter: '', omittedIcons: [] }),
        computed: {
            filteredIcons: ({ allIcons, iconFilter, omittedIcons }) => {
                const filter = iconFilter.toLowerCase();
                return allIcons.filter(icon => {
                    return icon.includes(filter) && !omittedIcons.includes(icon);
                });
            }
        },
        methods: {
            toggleAllIcons() {
                this.set({ showIcons: !this.get().showIcons });
            },
            selectIcon(selectedIcon) {
                this.set({ selectedIcon, showIcons: false })
            }
        }
    }
</script>
