<div class="card vertical">
    <div class="horizontal center">
        <h1>Pick a board, any board</h1>
        <div class="flex"></div>
        {#if updating}
        <i class="material-icons loading">refresh</i>
        {/if}
    </div>
    {#each $boards as board (board.id)}
    <div class="horizontal">
        {#if edit_id !== board.id}
        <div class="flex board-row" class:active="boardId === board.id" on:dblclick="allDone(board.id)" on:click="selectBoard(board.id)">{ board.name }
        </div>
        {/if}
        {#if !edit_id}
        <div class="edit-board" on:click="set({ edit_id: board.id, edit_name: board.name, edit_bvus: board.bvus })"><i
                class="material-icons">edit</i></div>
        <div class="share-board" on:click="copyImportLink(board)"><i class="material-icons">share</i></div>
        {/if}
    </div>
    {#if edit_id === board.id}
    <form class="vertical" on:submit="updateBvu(board.id)">
        <input type="text" placeholder="Name" bind:value="edit_name" />
        <input type="submit" />
    </form>
    <button on:click="cancelUpdate()">Cancel</button>
    {/if}
    {/each}
    {#if shareText}
    <p class="shareText">Shareable link has been copied to your clipboard!</p>
    {/if}
    <div class="divider"></div>
    <div class="new-board">
        {#if !creating && !edit_id}
        <button class="new-board" on:click="set({ creating: true })">New Board<i class="material-icons">add</i></button>
        {:elseif creating}
        <form class="vertical" on:submit="updateBvu()">
            <input type="text" placeholder="Name" bind:value="edit_name" />
            <input type="submit" />
        </form>
        <button on:click="cancelUpdate()">Cancel</button>
        {/if}
    </div>
    <div class="flex"></div>
    {#if !creating && !edit_id && boardId}
    <button on:click="allDone()">To the board!</button>
    {/if}
</div>

<style>
    @keyframes blinkIn {
        from {
            opacity: .25;
            color: white;
        }
    }

    .shareText {
        animation: blinkIn .35s 1;
    }

    .card {
        height: 100%;
        padding: 1rem;
    }

    .new-board {
        width: 100%;
        position: relative;
    }

    .new-board i {
        position: absolute;
        top: 6px;
        margin-left: .5rem;
    }

    .edit-board,
    .share-board {
        cursor: pointer;
        margin-top: .25rem;
        margin-right: .25rem;
    }

    .loading {
        height: 24px;
    }

    .board-row {
        border: 1px solid #6f7090;
        cursor: pointer;
        padding: .5rem;
        line-height: 1;
        margin-bottom: .25rem;
        margin-right: .5rem;
        border-radius: 4px;
    }

    .board-row.active {
        background: #eee;
        font-weight: 600;
        color: #6f7090;
    }

    .divider {
        background: #6f7090;
        height: 1px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>

<script>
    import { BoardsService } from '../Services/Boards.service';

    export default {
        data: () => ({
            creating: false,
            editing: false,
            edit_name: '', edit_bvus: '',
        }),
        oncreate() {
            const { boardId } = this.store.get();

            BoardsService.get().then(() => this.set({ updating: false }));
        },
        methods: {
            async updateBvu(id) {
                const { edit_name } = this.get();
                this.set({ updating: true });
                this.cancelUpdate();
                await BoardsService.update(id, edit_name, []);
                this.set({ updating: false });

            },
            cancelUpdate() {
                this.set({ edit_name: '', edit_bvus: '', creating: false, edit_id: '' });
            },
            selectBoard(id) {
                this.set({ boardId: id });
            },
            allDone(id = null) {
                this.store.set({ configDone: true, boardId: id || this.get().boardId });
            },
            copyImportLink(board) {
                const params = new URLSearchParams({
                    id: board.id,
                    name: board.name,
                    swarmKey: board.swarmKey,
                })
                const link = `${location.origin}${location.pathname}#/import?${params.toString()}`;
                copyTextToClipboard(link);

                this.set({ shareText: true });
                setTimeout(() => {
                    this.set({ shareText: false });
                }, 3000);
            }
        },
    }

    function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");

        //
        // *** This styling is an extra step which is likely not required. ***
        //
        // Why is it here? To ensure:
        // 1. the element is able to have focus and selection.
        // 2. if the element was to flash render it has minimal visual impact.
        // 3. less flakyness with selection and copying which **might** occur if
        //    the textarea element is not visible.
        //
        // The likelihood is the element won't even render, not even a
        // flash, so some of these are just precautions. However in
        // Internet Explorer the element is visible whilst the popup
        // box asking the user for permission for the web page to
        // copy to the clipboard.
        //

        // Place in the top-left corner of screen regardless of scroll position.
        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;

        // Ensure it has a small width and height. Setting to 1px / 1em
        // doesn't work as this gives a negative w/h on some browsers.
        textArea.style.width = '2em';
        textArea.style.height = '2em';

        // We don't need padding, reducing the size if it does flash render.
        textArea.style.padding = 0;

        // Clean up any borders.
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';

        // Avoid flash of the white box if rendered for any reason.
        textArea.style.background = 'transparent';


        textArea.value = text;

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
        }

        document.body.removeChild(textArea);
    }
</script>