<h1>Input the desired BVUs to display</h1>
<div class="card-content vertical">
    <form>
        <div class="flex"></div>
        <input type="text" bind:value="edit_bvus" />
        <p>Seperate BVU numbers with a comma</p>
        <div class="flex"></div>
        <button on:click="submit()" disabled="{!canSubmit}">Submit</button>
    </form>
</div>

<style>
h1 {
    text-align: center;
}

.card-content {
    height: calc(100% - 6rem);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

input {
    width: 100%;
}
</style>

<script>
import {AppStore} from '../Services/App.store';

export default {
    data: () => ({
        edit_bvus: (AppStore.get().boardBvuList || []).join(', '),
    }),
    computed: {
        canSubmit: ({edit_bvus}) => {
            return edit_bvus.length > 0 && edit_bvus
                .split(',')
                .map(s => s.trim())
                .every(s => !isNaN(parseInt(s, 10)));
        }
    },
    methods: {
        submit() {
            let boardBvuList = this.get().edit_bvus
                .split(',')
                .map(s => s.trim())
                .map(s => parseInt(s, 10));
            AppStore.set({ boardBvuList, configDone: true });
        }
    }
}
</script>
