<div class="init-wizard-card">
    {#if $configDone}
        <WizardDone></WizardDone>
    {:else}
        <BoardsCard></BoardsCard>
    {/if}
</div>

<style>
    .init-wizard-card {
        position: fixed;
        z-index: 500;
        max-height: 800px;
        max-width: 600px;
        height: 80vh;
        width: 50vw;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: white;
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .23), 0 0 2px 1px rgba(0, 0, 0, .23)
    }
</style>

<script>
    import { AppStore } from '../Services/App.store';

    export default {
        store: () => AppStore,
        oncreate() {
            this.store.set({ configDone: false });
        },
        components: {
            BoardsCard: './BoardsCard',
            WizardDone: './WizardDone',
        }

    }
</script>