<h1>Select how you want to load bugs</h1>
<div class="vertical center card-wrapper">
    <div class="options">
        <label>
            <input
                type=radio
                bind:group=$loadBy
                value="productMilestone"
            >
            <h2>Product and Milestone</h2>
        </label>
        <label>
            <input
                type=radio
                bind:group=$loadBy
                value="bvus"
            >
            <h2>List of BVUs</h2>
        </label>
    </div>
</div>

<style>
    h1 {
        text-align: center;
    }
    .card-wrapper {
        height: 100%;
        justify-content: space-around;
        position: relative;
    }

    h2 {
        display: inline-block;
    }
</style>

<script>
    import { AppStore } from '../Services/App.store';

    export default {
        store: () => AppStore,
    }
</script>