<div class="vertical center card-wrapper">
    <h1>Select your Product and Milestone</h1>
    {#if loading}
    <h2>Loading...</h2>
    {:else}
    <div class="options-wrapper vertical">
        <div class="horizontal">
            <label>Component</label><div class="flex"></div><span class="sub-label">*Optional</span>
        </div>
        <input bind:value="$componentName" />
        <label>Product</label>
        <select
            value="{$productId}"
            on:change="selectProduct(event)"
        >
            {#each products as product, i}
            <option value="{product.id}">{product.name}</option>
            {/each}
        </select>
        <label>Milestone</label>
        <select
            on:change="selectMilestone(event)"
            value="{$milestoneId}"
        >
            {#each milestones as milestone, i}
            <option value="{milestone.id}">{milestone.name}</option>
            {/each}
        </select>
        <div class="flex"></div>
        <button on:click="submit()" disabled="{!canSubmit}">Submit</button>
    </div>
    {/if}
</div>

<style>
    h1 {
        text-align: center;
    }

    .card-wrapper {
        height: 100%;
        justify-content: space-around;
        position: relative;
    }

    .options-wrapper {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .sub-label {
        color: #c0c0ce;
    }

    select,
    input,
    button {
        width: 100%;
    }
</style>

<script>
    import { getProducts } from '../Services/bugzilla.service';
    import { AppStore } from '../Services/App.store';

    export default {
        data: () => ({
            products: [],
            milestones: [],
            loading: true,
        }),
        store: () => AppStore,
        oncreate() {
            getProducts()
                .then(body => {
                    this.set({
                        products: body.products.filter(product => product.is_active),
                        loading: false,
                    });
                });
        },
        computed: {
            canSubmit: ({$milestoneId, $productId}) => $milestoneId && $productId,
        },
        methods: {
            selectProduct(e) {
                const product = this.get().products.find(p => p.id == e.target.value);
                this.set({ selectedProduct: product, milestones: product.milestones.filter(ms => ms.is_active) });
                this.store.set({ productName: product.name, productId: product.id });
            },
            selectMilestone(e) {
                const milestone = this.get().selectedProduct.milestones.find(ms => ms.id == e.target.value);
                this.store.set({ milestoneName: milestone.name, milestoneId: milestone.id });
            },
            submit() {
                this.store.set({ configDone: true });
            }
        }
    }
</script>