<div class="gitlab-menu horizontal center">

    {#if !hasBuilds}
    <div on:click="toggleOpen()" class="unconfigured horizontal">
        <i class="material-icons">add</i>
        <div>Configure Build Monitor</div>
    </div>
    {:else}
        {#each $projects as project}
        <GitlabBuildStatus {project}></GitlabBuildStatus>
        {/each}
        <i class="material-icons" on:click="toggleOpen()">settings</i>
    {/if}

    {#if $open}
    <GitlabPopup></GitlabPopup>
    {/if}
</div>

<style>
.gitlab-menu {
    position: relative;
    color: #cccccc;
    margin-right: 1rem;
    height: 32px;
}

.unconfigured {
    font-size:.75rem;
    line-height: 1;
    border: 2px solid #ccc;
    padding: 2px 8px;
    border-radius: 32px;
    cursor: pointer;
}

.unconfigured i {
    font-size: .75rem;
    position: relative;
    top: 1px;
    left: -4px;
}
</style>

<script>
// This component is a weird state, needs to be decoupled from Gitlab and
//   made into something more generic around CI builds

import { GitlabStore } from './Gitlab.store';
import { JenkinsStore } from '../Jenkins/Jenkins.store';

export default {
    data: () => ({
        jenkinsJobs: [],
    }),
    store: () => GitlabStore,
    oncreate() {
        JenkinsStore.on('state', ({ current }) => {
            this.set({ jenkinsJobs: current.jobs });
        });
    },
    computed: {
        hasBuilds: ({$projects, jenkinsJobs}) => $projects.length || jenkinsJobs.length,
    },
    methods: {
        toggleOpen() {
            const { open } = GitlabStore.get();

            GitlabStore.set({ open: !open });
        }
    },
    components: {
        GitlabPopup: './GitlabPopup',
        GitlabBuildStatus: './GitlabBuildStatus',
    }
}
</script>