<div class="gitlab-page-header">{$pageTitle || ''}</div>

<style>
    .gitlab-page-header {
        height: 32px;
        background: #8f563d;
        color: white;
        text-align: center;
        line-height: 32px;
        margin: -1rem;
        margin-bottom: 32px;
    }
</style>

<script>
import { GitlabStore } from './Gitlab.store';

export default {
    store: () => GitlabStore,
}
</script>