<div class="build-status {buildStatus.status} horizontal center">
    <div class="build-indicator" title="{project.name}: {buildStatus.status}"></div>
    <div class="project-name { buildStatus.status != 'success' &&  buildStatus.status != 'loading' ? '' : 'hidden' }">{project.name}</div>
</div>

<style>
    .build-status {
        margin-right: 1rem;
        border: 2px solid #ccc;
        border-radius: 24px;
        padding: .125rem;
    }

    .build-indicator {
        height: 1rem;
        width: 1rem;
        padding: .25rem;
        border-radius: 50%;
        background: #ccc;
    }

     .build-status.success .build-indicator { background: #74e274 }
     .build-status.running .build-indicator { background: #4d82ff }
     .build-status.pending .build-indicator { background: #ff9f76 }
      .build-status.failed .build-indicator { background: #ff668a }
    .build-status.canceled .build-indicator { background: #ccc }
     .build-status.skipped .build-indicator { background: #ccc }

    .project-name {
        margin: 0 .5rem;
        line-height: 1;
        white-space: nowrap;
        transition: .2s width;
        overflow: hidden;
        width: 15rem;
        text-align: center;
        text-transform: uppercase;
    }

    .project-name.hidden {
        width: 0;
        margin: 0;
    }
</style>

<script>
import { GitlabService } from './Gitlab.service';
import { TimeToWork } from '../TimeToWork';

export default {
    data: () => ({
        buildStatus: { status: 'loading' },
    }),
    oncreate() {
        this.update();

        const updateInterval = setInterval(() => this.update(), 1000 * 60 * 3);
        this.on('destroy', () => {
            clearInterval(updateInterval);
        });
    },
    methods: {
        update() {
            if (TimeToWork.isIt()) {
                GitlabService.getLatestBuild(this.get().project.id)
                    .then(buildStatus => this.set( { buildStatus } ));
            }
        }
    }
}
</script>