<div class="gitlab-page-nav-buttons horizontal center">
    <button on:click="prev()">Prev</button>
    <div class="flex"></div>
    <button on:click="next()" disabled={isNextDisabled}>Next</button>
</div>

<script>
import { GitlabStore } from './Gitlab.store';

export default {
    oncreate() {
        // Bug with svelte when doing template binding to $isNextDisabled
        //    listener was not being removed causing NPE on dom element
        const listener = GitlabStore.on('state', ({ current, changed }) => {
            this.set({ isNextDisabled: current.isNextDisabled });
        });

        this.on('destroy', listener.cancel);
    },
    methods: {
        next() {
            GitlabStore.set({ 
                page: GitlabStore.get().page + 1
            })
        },
        prev() {
            GitlabStore.set({ 
                page: Math.max(0, GitlabStore.get().page - 1)
            })
        }
    }
}
</script>