<div class="gitlab-popup shadow-3 vertical">
    <GitlabPageHeader></GitlabPageHeader>
    <GitlabPageNavButtons></GitlabPageNavButtons>
    <div class="flex pages overflow-y">
    {#if $page == 0}
        <SelectCIPage></SelectCIPage>
    {:elseif $page == 1}
        <JenkinsPage></JenkinsPage>
    {:elseif $page == 2}
        <JenkinsDonePage></JenkinsDonePage>
    {:elseif $page == 3}
        <GitlabTokenPage></GitlabTokenPage>
    {:elseif $page == 4}
        <GitlabProjectsPage></GitlabProjectsPage>
    {:elseif $page == 5}
        <GitlabDonePage></GitlabDonePage>
    {:else}
        <div>I Dont know this page</div>
    {/if}
    </div>

</div>

<style>
.pages {
    position: relative;
    overflow-y: auto;
}
.gitlab-popup {
    position: absolute;
    bottom: 3rem;
    right: 0;
    width: 480px;
    height: 640px;
    background: #464646;
    padding: 1rem;
    z-index: 10;
}
</style>

<script>
import { GitlabStore } from './Gitlab.store';

export default {
    store: () => GitlabStore,
    oncreate() {
        GitlabStore.set({ page: 0 });
    },
    components: {
        JenkinsPage: './JenkinsPage',
        JenkinsDonePage: './JenkinsDonePage',
        SelectCIPage: './SelectCIPage',
        GitlabTokenPage: './GitlabTokenPage',
        GitlabProjectsPage: './GitlabProjectsPage',
        GitlabDonePage: './GitlabDonePage',
        GitlabPageHeader: './GitlabPageHeader',
        GitlabPageNavButtons: './GitlabPageNavButtons',
    }
}
</script>

