<label>
    <h3>Enter token</h3>
    <input type="text" bind:value="edit_token" />
</label>

<style>
input {
    width: 100%;
}
</style>

<script>
import { GitlabStore } from './Gitlab.store';

export default {
    data: () => ({ edit_token: GitlabStore.get().token || '' }),
    computed: {
        isNextDisabled: ({ edit_token }) => {
            GitlabStore.set({ isNextDisabled: !edit_token });
            return !!edit_token;
        }
    },
    oncreate() {
        GitlabStore.set({ pageTitle: 'Gitlab Authorization Token' });

        this.on('destroy', () => {
            const { edit_token } = this.get();
            const { isNextDisabled } = GitlabStore.get();

            if(!isNextDisabled && edit_token) {
                GitlabStore.set({ token: edit_token });
            }
        });
    },
}
</script>