{#each projects as project (project.id)}
<label class="select-projects">
    <input
        type="checkbox"
        bind:group="selectedProjects"
        value="{project}"
        hidden
    >
    <div class="project row horizontal center">
        <span>{project.name}</span>
    </div>
</label>
{/each}
{#if loading}
<i class="material-icons loading">refresh</i>
{/if}

<style>
    .select-projects input:checked ~ .row {
        border: 2px solid #8f563d;
    }

    .project {
        padding: 0.25rem;
        margin: .25rem 0;
        border: 2px solid transparent;
        background: #3c3c3c;
        cursor: pointer;
    }
</style>

<script>
import { GitlabService } from './Gitlab.service';
import { GitlabStore } from './Gitlab.store';

export default {
    data: () => ({
        projects: [],
        selectedProjects: [],
        loading: true,
    }),
    oncreate() {
        GitlabStore.set({ pageTitle: 'Loading MFK Projects' });

        const { token } = GitlabStore.get();
        GitlabService.getMfkProjects(token)
            .then(projects => {
                GitlabStore.set({ pageTitle: 'Select Projects To Include' });
                this.set({ projects, loading: false });
            });

        this.on('destroy', () => {
            GitlabStore.set({ selectedProjects: this.get().selectedProjects });
        });
    }
}
</script>