<JenkinsBuilds></JenkinsBuilds>

<script>
import { GitlabStore } from './Gitlab.store';

export default {
    oncreate() {
        GitlabStore.set({ pageTitle: 'Configure Jenkins Builds (MFK-ci0)', isNextDisabled: false })
    },
    components: {
        JenkinsBuilds: '../Jenkins/JenkinsBuilds',
    }
}
</script>