<div class="vertical">
    <button on:click="toGitlab()">Gitlab</button>
    <button on:click="toJenkins()">Jenkins</button>
</div>

<script>
import { GitlabStore } from './Gitlab.store';

export default {
    oncreate() {
        GitlabStore.set({ pageTitle: 'Gitlab or Jenkins', isNextDisabled: true });
    },
    methods: {
        toGitlab() {
            GitlabStore.set({ page: 3 });
        },
        toJenkins() {
            GitlabStore.set({ page: 1 });
        }
    }
}
</script>