<div class="horizontal center">
    <div class="left-column"></div>
    <h1>Board: {$productName} - {$milestoneName}</h1>
    <i class="material-icons shadow-2" on:click="clearBoard()">edit</i>
    <div class="flex"></div>
</div>

<style>
    .horizontal {
        position: relative;
        z-index: 4;
    }

    .left-column {
        height: 5rem;
    }

    i {
        cursor: pointer;
        margin: 0 1rem;
        background: white;
        padding: 0.45rem;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        position: relative;
        top: 0.2rem;
    }

    h1 {
        margin: 0;
        margin-left: 2rem;
        padding: 0;
        font-weight: 400;
        line-height: .85;
        color: white;
    }
</style>

<script>
    import { AppStore } from '../Services/App.store';
    import { BugsStore } from '../Services/Bugs.store';
    import { navigate } from '../router/router.service';

    export default {
        store: () => AppStore,
        methods: {
            clearBoard() {
                this.store.set({
                    loadBy: '',
                    productName: '',
                    milestoneName: '',
                    productId: '',
                    milestoneId: '',
                    componentName: '',
                    boardBvuList: null,
                    initialized: false,
                });

                BugsStore.set({
                    bugs: []
                });

                navigate('/board/config');
            }
        },
    }
</script>