<div ref:bugCard class="bug" class:dragging="dragging" class:targeted-top="over && $draggingBug && !bottom" class:targeted-bottom="over && $draggingBug && bottom"
    on:mousedown="dragStart(event)"
    on:mouseup="drop(event)"
    on:mouseenter="set({ over: true })"
    on:mouseleave="set({ over: false })"
    on:mousemove="dragOver(event)">
    <div class="card-title-bar horizontal center">
        <div class="card-id"><span>{bug.id.toString().substr(-4)}<span></div>
        <div class="flex"></div>
        {#each getStamps(bug) as stamp}
            <BugStamp stamp="{stamp}" />
        {/each}
    </div>
    <div class="bug-summary flex horizontal">
        <div class="flex">
            {bug.summary}
        </div>
        <div class="icons no-shrink">
            {#if bug.hasLocalChanges}
            <i class="material-icons loading">refresh</i>
            {/if}
            {#if bug.status == 'REOPENED'}
            <i class="material-icons">local_mall</i>
            {/if}
        </div>
    </div>
    <div class="assignees horizontal">
        <div class="flex"></div>
        {#each getAssignees(bug) as assignee}
            <UserPic user="{assignee}"></UserPic>
        {/each}
    </div>
</div>

<style>
.bug {
    position: relative;
    margin: .25rem;
    background: #3c3c3c;
    color: #ccc;
    padding-top: 2rem;
    padding-bottom: .25rem;
    border: 1px solid #333;
}

.card-title-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    padding-right: .25rem;
    font-weight: 600;
}

.card-id {
    position: relative;
    padding-right: 2rem;
    color: white;
    overflow: hidden;
    line-height: 2rem;
    height: 100%;
}

.card-id span {
    position: relative;
    z-index: 2;
    padding-left: .5rem;
    letter-spacing: 1px;
    text-shadow: 0px 2px 1px #333, 0px 0px 1px #333;
}

.card-id:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #6f6f90;
    z-index: 1;
    transform: skew(-35deg) translate3d(-16px, 0, 0);
}

.bug-summary {
    padding: .5rem;
}

.bug.dragging {
    opacity: .35;
}

.bug.targeted-top {
    border-top: 4px solid #333;
}

.bug.targeted-bottom {
    border-bottom: 4px solid #333;
}

.icons {
    opacity: .5;
}

.loading {
    animation: updating 1s ease-out infinite;
}
</style>

<script>
    import { AppStore } from '../Services/App.store';
    import { navigate } from '../router/router.service';
    import BugPriorityService from '../Services/BugPriority.service';
    import { getColumn } from '../Services/Columns';

    export default {
        data: () => ({
            bottom: false,
            dragging: false,
            over: false,
        }),
        store: () => AppStore,
        oncreate() {
            let listener = AppStore.on('state', ({ current, changed }) => {
                if (changed.draggingBug && current.draggingBug == null) {
                    this.set({
                        bottom: false,
                        dragging: false,
                    });
                }
            });

            this.on('destroy', () => listener.cancel());
        },
        methods: {
            launchBugView(id) {
                navigate(`/bug/${id}`);
            },
            dragStart(e) {
                AppStore.set({ draggingBug: this.get().bug });
                this.set({ dragging: true });
            },
            dragOver(e) {
                if (!this.canDrop()) return;
                e.preventDefault();

                let bbox = this.refs.bugCard.getBoundingClientRect();
                let height = bbox.height;
                let cursorY = e.clientY;
                let y = bbox.y;

                this.set({ bottom: cursorY - y > Math.round(height / 2), targeted: true });
            },
            drop(e) {
                if (!this.canDrop()) return;
                e.preventDefault();

                let thisBug = this.get().bug;
                let draggingBug = AppStore.get().draggingBug;

                if (thisBug.id == draggingBug.id) {
                    this.launchBugView(thisBug.id);
                } else {
                    const before = !this.get().bottom;
                    BugPriorityService.moveBug(draggingBug, thisBug, before);
                }

                this.reset();
            },
            reset() {
                this.set({
                    bottom: false,
                    dragging: false,
                });
                AppStore.set({ draggingBug: null });
            },
            canDrop() {
                const { draggingBug } = AppStore.get();
                const { cf_feature, status } = this.get().bug;

                return draggingBug && this.get().over && draggingBug.cf_feature == cf_feature && getColumn(draggingBug) === getColumn({ status });
            }
        },
        helpers: {
            getAssignees: (bug) => bug.data.assignees || [],
            getStamps: (bug) => bug.data.stamps || [],
        },
        components: {
            UserPic: '../Common/UserPic',
            BugStamp: '../Bug/BugStamp'
        }
    }
</script>