<div class="overflow-y" class:dropping="dropping"
    on:mouseover="dragOver(event)"
    on:mouseup="drop(event)"
    on:mouseleave="dragLeave(event)"
    >
    {#each bugsByStatus as bug (keyBug(bug))}
        <BugCard {bug}></BugCard>
    {/each}
</div>

<style>
.dropping {
    background: #cad8ec;
}

.overflow-y {
    height: 100%;
    padding-bottom: 1rem;
}
</style>

<script>
import { AppStore } from '../Services/App.store';
import { updateBug } from '../Bug/BugUpdater';
import BugPriorityService from '../Services/BugPriority.service';
import { getColumn, STATUS_COLUMNS } from '../Services/Columns';

const bugKeyedFields = [
    'id',
    'data',
    'status',
    'summary',
];

export default {
    data: () => ({
        dropping: false,
    }),
    oncreate() {
        this.dragCounter = 0;

        let listener = AppStore.on('state', ({ current, changed }) => {
            if (changed.draggingBug && current.draggingBug == null) {
                this.set({ dropping: false });
            }
        });

        this.on('destroy', () => listener.cancel());
    },
    methods: {
        dragOver(e) {
            if (!this.canDrop(e)) return;

            e.preventDefault();
            this.set({ dropping: true });
        },
        dragLeave(e) {
            this.set({ dropping: false });
        },
        drop(e) {
            if (!this.canDrop(e)) return;
            e.preventDefault();

            const { draggingBug } = AppStore.get();
            const { assignees, stamps } = draggingBug.data;
            const { bvu, status } = this.get();

            AppStore.set({ draggingBug: null });
            this.set({ dropping: false });

            updateBug(draggingBug.id, { status, data: {
                assignees,
                stamps,
                priority: BugPriorityService.calcPriorityForStatusUpdate(bvu, getColumn({ status }))
            } });
        },
        canDrop(e) {
            const bvu = this.get().bvu;
            const { draggingBug } = AppStore.get();
            if (!draggingBug) return false;

            const { blocks, status } = draggingBug;
            return bvu == blocks[0] && Math.abs(STATUS_COLUMNS.indexOf(getColumn(draggingBug)) - STATUS_COLUMNS.indexOf(getColumn({ status: this.get().status}))) == 1;
        }
    },
    helpers: {
        keyBug: (bug) => Object.keys(bug)
            .filter(key => bugKeyedFields.includes(key))
            .map(key => key == 'data' ? Object.keys(bug.data).map(key => JSON.stringify(bug.data[key])) : `${bug[key]}`)
            .join(''),
    },
    components: {
        BugCard: './BugCard',
    }
}
</script>