<div class="bug_row" style="height: {height}" class:expanded="expanded">
    <div class="row-title horizontal" on:click="toggleExpansion()">
        {#if expanded}
        <i class="material-icons">remove</i>
        {:else}
        <i class="material-icons">add</i>
        {/if}
        <div>{bvu == 'null' ? '' : bvu.substr(-4)}</div>
        <div class="title">{bvu == 'null' ? 'Swimlane Cards' : title}</div>
    </div>
    <div class="row-content horizontal">
        {#each [newBugs, assigned, resolved, verified, closed] as bugsByStatus}
        <div class="column no-shrink flex">
            <BugColumn bugsByStatus={bugsByStatus.bugs} {bvu} status={bugsByStatus.status}></BugColumn>
        </div>
        {/each}
    </div>
    {#if expanded}
    <ExpandTrigger bind:height="expandedHeight"></ExpandTrigger>
    {/if}
</div>

<style>
    .bug_row {
        position: relative;
        padding-top: 2rem;
        margin-bottom: 1rem;
        flex-shrink: 0;
        overflow: visible;
        transition: .25s height ease;
    }

    .row-title {
        position: absolute;
        top: 0;
        left: 0;
        background: #3c3c3c;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        height: 2rem;
        line-height: 1.9rem;
        width: 100%;
        padding: 0 .5rem;
        color: #ccc;
        font-weight: 600;
    }

    .row-title .title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .row-content {
        height: 100%;
        margin: 0 .5rem;
    }


    .bug_row .column {
        display: none;
    }

    .bug_row.expanded .column {
        display: block;
    }

    .column {
        position: relative;
    }

    .column:nth-child(1) :global(.bug .card-id:after) {
        background: #845e93;
    }

    .column:nth-child(2) :global(.bug .card-id:after) {
        background: #9e5f6e;
    }

    .column:nth-child(3) :global(.bug .card-id:after) {
        background: #9e6d57;
    }

    .column:nth-child(4) :global(.bug .card-id:after) {
        background: #5e8981;
    }

    .column:nth-child(5) :global(.bug .card-id:after) {
        background: #51679e;
    }

    .row-title .material-icons {
        line-height: 2rem;
    }
</style>

<script>
    import { AppStore } from '../Services/App.store';
    import { BugsStore } from '../Services/Bugs.store';

    const collapsedHeight = 48;

    export default {
        store: () => AppStore,
        data: () => ({
            title: '',
            expandedHeight: 360,
        }),
        oncreate() {
            const { bvu } = this.get();

            if (bvu && bvu != 'null') {
                const listener = BugsStore.on('update', ({ changed, current }) => {
                    if (changed.bugs) {
                        const me = current.bugs.find(b => b.id == bvu);
                        if (me) {
                            this.set({ title: me.summary });
                        }
                    }
                });

                this.on('destroy', listener.cancel);
            }
        },
        computed: {
            newBugs: ({ bugs }) => ({ bugs: BugsStore.byNew(bugs), status: 'NEW' }),
            assigned: ({ bugs }) => ({ bugs: BugsStore.byAssigned(bugs), status: 'ASSIGNED' }),
            resolved: ({ bugs }) => ({ bugs: BugsStore.byResolved(bugs), status: 'RESOLVED' }),
            verified: ({ bugs }) => ({ bugs: BugsStore.byVerified(bugs), status: 'VERIFIED' }),
            closed: ({ bugs }) => ({ bugs: BugsStore.byClosed(bugs), status: 'CLOSED' }),
            height: ({ expanded, expandedHeight }) => `${expanded ? expandedHeight : collapsedHeight}px`,
            expanded: ({ bvu, $expandedColumns }) => $expandedColumns.includes(bvu),
        },
        methods: {
            toggleExpansion() {
                const { expanded, bvu } = this.get();
                const { expandedColumns } = AppStore.get();

                AppStore.set({
                    expandedColumns: expanded
                        ? expandedColumns.filter(b => b != bvu)
                        : expandedColumns.concat(bvu)
                });
            },
        },
        components: {
            ExpandTrigger: './ExpandTrigger.html',
            BugColumn: './BugColumn',
        }
    }
</script>