<div ref:knob class="knob" on:mousedown="dragStart(event)"></div>
{#if dragging}
<div class="drag-overlay" style="height: {dragHeight}px"></div>
{/if}

<style>
    .knob {
        position: absolute;
        bottom: 0;
        right: 0;
        height: .25rem;
        width: 100%;
        cursor: ns-resize;
    }

    .knob:after {
        content: '';
        display: block;
        position: absolute;
        padding-top: 6px;
        bottom: -8px;
        left: 50%;
        width: 25%;
        transform: translateX(-50%);
        border-bottom: 2px solid #3c3c3c;
    }

    .drag-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        background: rgba(204, 204, 204, .25);
        z-index: 5;
    }
</style>

<script>
    export default {
        data: () => ({
            height: 0,
            dragging: false,
        }),
        ondestroy() {
            if(this.unsubscribeFromWindow) {
                this.unsubscribeFromWindow();
            }
        },
        computed: {
            dragHeight: ({ height, offsetY }) => height + offsetY,
        },
        methods: {
            dragStart(e) {
                const startY = this.refs.knob.getBoundingClientRect().y;

                const onMouseUp = (e) => this.dragEnd(e);
                const onMouseMove = (e) => this.drag(e);
                this.unsubscribeFromWindow = () => {
                    window.removeEventListener('mouseup', onMouseUp);
                    window.removeEventListener('mousemove', onMouseMove);
                };

                window.addEventListener('mouseup', onMouseUp);
                window.addEventListener('mousemove', onMouseMove);
                this.set({ dragging: true, offsetY: 0 });
            },
            dragEnd(e) {
                this.set({ dragging: false, height: this.get().dragHeight });
                this.unsubscribeFromWindow();
                this.unsubscribeFromWindow = null;
            },
            drag(e) {
                if (this.get().dragging) {
                    this.set({ offsetY: this.get().offsetY + e.movementY });
                }
            }
        }
    }
</script>