<div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>

<style>
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -109px -70.6666666667px #fff700, 151px -248.6666666667px #00ffe1, -192px -182.6666666667px #00ff62, -25px 67.3333333333px #00d0ff, -142px -55.6666666667px #0080ff, -199px -136.6666666667px #ff00aa, -206px -126.6666666667px #9d00ff, -4px -215.6666666667px #00aeff, 85px -398.6666666667px #00ff3c, 4px -18.6666666667px #ff0084, 235px 43.3333333333px #0004ff, 30px -89.6666666667px #2200ff, -10px -312.6666666667px #00ff44, 109px 43.3333333333px #6aff00, -35px -274.6666666667px #7300ff, -214px 57.3333333333px #008cff, -60px 82.3333333333px #00ffa2, -39px -215.6666666667px #ffcc00, -125px -336.6666666667px #ff4400, 141px -234.6666666667px #00f7ff, 54px -150.6666666667px #ff00b3, 94px -32.6666666667px #c400ff, 110px -412.6666666667px #ffd900, 56px -275.6666666667px #00ff95, -59px -220.6666666667px #2600ff, -104px -102.6666666667px #0011ff, 141px -397.6666666667px #fb00ff, -43px 55.3333333333px #a6ff00, -53px -94.6666666667px #00ccff, -27px -364.6666666667px red, -182px -298.6666666667px #ff00d0, -209px 31.3333333333px #0062ff, 204px -85.6666666667px #002fff, -64px -164.6666666667px #00ff11, -10px -224.6666666667px #ff9100, 147px -135.6666666667px aqua, 213px -300.6666666667px #00ff80, -8px -116.6666666667px #ff00b3, 75px -287.6666666667px #84ff00, -249px 29.3333333333px blue, -75px -340.6666666667px #ff0011, -212px -61.6666666667px #6600ff, -115px -349.6666666667px #ff2f00, -190px -57.6666666667px #2b00ff, 221px 57.3333333333px #00ff59, 83px -226.6666666667px #26ff00, 122px -322.6666666667px #80ff00, -157px -285.6666666667px #00ffbf, 57px -259.6666666667px #ff003c, -178px -272.6666666667px #0015ff, 95px 19.3333333333px #7300ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -109px -70.6666666667px #fff700, 151px -248.6666666667px #00ffe1, -192px -182.6666666667px #00ff62, -25px 67.3333333333px #00d0ff, -142px -55.6666666667px #0080ff, -199px -136.6666666667px #ff00aa, -206px -126.6666666667px #9d00ff, -4px -215.6666666667px #00aeff, 85px -398.6666666667px #00ff3c, 4px -18.6666666667px #ff0084, 235px 43.3333333333px #0004ff, 30px -89.6666666667px #2200ff, -10px -312.6666666667px #00ff44, 109px 43.3333333333px #6aff00, -35px -274.6666666667px #7300ff, -214px 57.3333333333px #008cff, -60px 82.3333333333px #00ffa2, -39px -215.6666666667px #ffcc00, -125px -336.6666666667px #ff4400, 141px -234.6666666667px #00f7ff, 54px -150.6666666667px #ff00b3, 94px -32.6666666667px #c400ff, 110px -412.6666666667px #ffd900, 56px -275.6666666667px #00ff95, -59px -220.6666666667px #2600ff, -104px -102.6666666667px #0011ff, 141px -397.6666666667px #fb00ff, -43px 55.3333333333px #a6ff00, -53px -94.6666666667px #00ccff, -27px -364.6666666667px red, -182px -298.6666666667px #ff00d0, -209px 31.3333333333px #0062ff, 204px -85.6666666667px #002fff, -64px -164.6666666667px #00ff11, -10px -224.6666666667px #ff9100, 147px -135.6666666667px aqua, 213px -300.6666666667px #00ff80, -8px -116.6666666667px #ff00b3, 75px -287.6666666667px #84ff00, -249px 29.3333333333px blue, -75px -340.6666666667px #ff0011, -212px -61.6666666667px #6600ff, -115px -349.6666666667px #ff2f00, -190px -57.6666666667px #2b00ff, 221px 57.3333333333px #00ff59, 83px -226.6666666667px #26ff00, 122px -322.6666666667px #80ff00, -157px -285.6666666667px #00ffbf, 57px -259.6666666667px #ff003c, -178px -272.6666666667px #0015ff, 95px 19.3333333333px #7300ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -109px -70.6666666667px #fff700, 151px -248.6666666667px #00ffe1, -192px -182.6666666667px #00ff62, -25px 67.3333333333px #00d0ff, -142px -55.6666666667px #0080ff, -199px -136.6666666667px #ff00aa, -206px -126.6666666667px #9d00ff, -4px -215.6666666667px #00aeff, 85px -398.6666666667px #00ff3c, 4px -18.6666666667px #ff0084, 235px 43.3333333333px #0004ff, 30px -89.6666666667px #2200ff, -10px -312.6666666667px #00ff44, 109px 43.3333333333px #6aff00, -35px -274.6666666667px #7300ff, -214px 57.3333333333px #008cff, -60px 82.3333333333px #00ffa2, -39px -215.6666666667px #ffcc00, -125px -336.6666666667px #ff4400, 141px -234.6666666667px #00f7ff, 54px -150.6666666667px #ff00b3, 94px -32.6666666667px #c400ff, 110px -412.6666666667px #ffd900, 56px -275.6666666667px #00ff95, -59px -220.6666666667px #2600ff, -104px -102.6666666667px #0011ff, 141px -397.6666666667px #fb00ff, -43px 55.3333333333px #a6ff00, -53px -94.6666666667px #00ccff, -27px -364.6666666667px red, -182px -298.6666666667px #ff00d0, -209px 31.3333333333px #0062ff, 204px -85.6666666667px #002fff, -64px -164.6666666667px #00ff11, -10px -224.6666666667px #ff9100, 147px -135.6666666667px aqua, 213px -300.6666666667px #00ff80, -8px -116.6666666667px #ff00b3, 75px -287.6666666667px #84ff00, -249px 29.3333333333px blue, -75px -340.6666666667px #ff0011, -212px -61.6666666667px #6600ff, -115px -349.6666666667px #ff2f00, -190px -57.6666666667px #2b00ff, 221px 57.3333333333px #00ff59, 83px -226.6666666667px #26ff00, 122px -322.6666666667px #80ff00, -157px -285.6666666667px #00ffbf, 57px -259.6666666667px #ff003c, -178px -272.6666666667px #0015ff, 95px 19.3333333333px #7300ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -109px -70.6666666667px #fff700, 151px -248.6666666667px #00ffe1, -192px -182.6666666667px #00ff62, -25px 67.3333333333px #00d0ff, -142px -55.6666666667px #0080ff, -199px -136.6666666667px #ff00aa, -206px -126.6666666667px #9d00ff, -4px -215.6666666667px #00aeff, 85px -398.6666666667px #00ff3c, 4px -18.6666666667px #ff0084, 235px 43.3333333333px #0004ff, 30px -89.6666666667px #2200ff, -10px -312.6666666667px #00ff44, 109px 43.3333333333px #6aff00, -35px -274.6666666667px #7300ff, -214px 57.3333333333px #008cff, -60px 82.3333333333px #00ffa2, -39px -215.6666666667px #ffcc00, -125px -336.6666666667px #ff4400, 141px -234.6666666667px #00f7ff, 54px -150.6666666667px #ff00b3, 94px -32.6666666667px #c400ff, 110px -412.6666666667px #ffd900, 56px -275.6666666667px #00ff95, -59px -220.6666666667px #2600ff, -104px -102.6666666667px #0011ff, 141px -397.6666666667px #fb00ff, -43px 55.3333333333px #a6ff00, -53px -94.6666666667px #00ccff, -27px -364.6666666667px red, -182px -298.6666666667px #ff00d0, -209px 31.3333333333px #0062ff, 204px -85.6666666667px #002fff, -64px -164.6666666667px #00ff11, -10px -224.6666666667px #ff9100, 147px -135.6666666667px aqua, 213px -300.6666666667px #00ff80, -8px -116.6666666667px #ff00b3, 75px -287.6666666667px #84ff00, -249px 29.3333333333px blue, -75px -340.6666666667px #ff0011, -212px -61.6666666667px #6600ff, -115px -349.6666666667px #ff2f00, -190px -57.6666666667px #2b00ff, 221px 57.3333333333px #00ff59, 83px -226.6666666667px #26ff00, 122px -322.6666666667px #80ff00, -157px -285.6666666667px #00ffbf, 57px -259.6666666667px #ff003c, -178px -272.6666666667px #0015ff, 95px 19.3333333333px #7300ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -109px -70.6666666667px #fff700, 151px -248.6666666667px #00ffe1, -192px -182.6666666667px #00ff62, -25px 67.3333333333px #00d0ff, -142px -55.6666666667px #0080ff, -199px -136.6666666667px #ff00aa, -206px -126.6666666667px #9d00ff, -4px -215.6666666667px #00aeff, 85px -398.6666666667px #00ff3c, 4px -18.6666666667px #ff0084, 235px 43.3333333333px #0004ff, 30px -89.6666666667px #2200ff, -10px -312.6666666667px #00ff44, 109px 43.3333333333px #6aff00, -35px -274.6666666667px #7300ff, -214px 57.3333333333px #008cff, -60px 82.3333333333px #00ffa2, -39px -215.6666666667px #ffcc00, -125px -336.6666666667px #ff4400, 141px -234.6666666667px #00f7ff, 54px -150.6666666667px #ff00b3, 94px -32.6666666667px #c400ff, 110px -412.6666666667px #ffd900, 56px -275.6666666667px #00ff95, -59px -220.6666666667px #2600ff, -104px -102.6666666667px #0011ff, 141px -397.6666666667px #fb00ff, -43px 55.3333333333px #a6ff00, -53px -94.6666666667px #00ccff, -27px -364.6666666667px red, -182px -298.6666666667px #ff00d0, -209px 31.3333333333px #0062ff, 204px -85.6666666667px #002fff, -64px -164.6666666667px #00ff11, -10px -224.6666666667px #ff9100, 147px -135.6666666667px aqua, 213px -300.6666666667px #00ff80, -8px -116.6666666667px #ff00b3, 75px -287.6666666667px #84ff00, -249px 29.3333333333px blue, -75px -340.6666666667px #ff0011, -212px -61.6666666667px #6600ff, -115px -349.6666666667px #ff2f00, -190px -57.6666666667px #2b00ff, 221px 57.3333333333px #00ff59, 83px -226.6666666667px #26ff00, 122px -322.6666666667px #80ff00, -157px -285.6666666667px #00ffbf, 57px -259.6666666667px #ff003c, -178px -272.6666666667px #0015ff, 95px 19.3333333333px #7300ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
</style>