<div class="horizontal center">
    <div class="flex">New</div>
    <div class="flex">Assigned</div>
    <div class="flex">Resolved</div>
    <div class="flex">Verified</div>
    <div class="flex">Closed</div>
</div>

<style>
    .horizontal {
        position: relative;
        margin: 0 .5rem;
    }

    .horizontal .flex {
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        margin: .5rem;
    }
    .horizontal .flex:nth-child(1) {
        color: #cb80eb;
    }
    .horizontal .flex:nth-child(2) {
        color: #df768f;
    }
    .horizontal .flex:nth-child(3) {
        color: #ff9f76;
    }
    .horizontal .flex:nth-child(4) {
        color: #80d5c5;
    }
    .horizontal .flex:nth-child(5) {
        color: #6694ff;
    }
</style>
