{#if $lightsOn}
    {#if month === 4}
        <EggsBorder></EggsBorder>
    {:elseif month === 5}
        <MemorialBorder></MemorialBorder>
    {:elseif month === 7}
        <Fireworks></Fireworks>
    {:else}
        <LightBorder></LightBorder>
    {/if}
{/if}
<div class="board vertical overflow-y">
    <TitleBar></TitleBar>
    {#if $bugView}
    <BugView></BugView>
    {/if}
    <div class="board-content overflow-y flex">
        <Headers></Headers>
        <div class="flex vertical">
            {#each bugsByBvu as bugs (bugs.bvu)}
            <BugRow bvu={bugs.bvu} bugs={bugs.bugs}></BugRow>
            {/each}
        </div>
    </div>
    <StatusBar></StatusBar>
</div>

<style>
    .board {
        height: 100%;
    }
</style>

<script>
    import { AppStore } from '../Services/App.store';
    import { BugsStore } from '../Services/Bugs.store';
    import { loadBugsByBvus } from '../Bug/BugLoader';
    import { getBugs } from '../Services/bugzilla.service.js';
    import { getActivatedRoute, navigate } from '../router/router.service.js';
    
    const month = new Date().getMonth() + 1;

    export default {
        store: () => AppStore,
        data: () => ({
            bugsByBvu: [],
            month,
        }),
        oncreate() {
            if (getActivatedRoute().query.includes('reload')) {
                navigate('/boards');
                location.reload();
            }

            console.log(getActivatedRoute());
            const appStoreListener = AppStore.on('state', ({changed, current}) => {
                if (changed.boardBvuList) {
                    this.onBvuListChange(current.boardBvuList);
                }
            });

            // Do it manually first time for good measure
            this.onBvuListChange(AppStore.get().boardBvuList);

            const listener = BugsStore.on('state', ({ changed, current }) => {
                if (changed.bugsByBvu) {
                    const bvuOrder = AppStore.get().boardBvuList;
                    if (bvuOrder) {
                        const bugsByBvu = current
                            .bugsByBvu
                            .sort((bvu1, bvu2) =>  bvuOrder.indexOf(bvu1.bvu) - bvuOrder.indexOf(bvu2.bvu));
                        this.set({ bugsByBvu });
                    } else {
                        this.set({ bugsByBvu: current.bugsByBvu });
                    }
                }
            });

            this.on('destroy', listener.cancel);
            this.on('destroy', appStoreListener.cancel);

        },
        methods: {
            onBvuListChange(boardBvuList) {
                if(!boardBvuList) return;

                loadBugsByBvus(boardBvuList);
            }
        },
        components: {
            Headers: './Headers.html',
            BugRow: './BugRow.html',
            TitleBar: './TitleBar.html',
            BugView: '../Bug/BugView.html',
            StatusBar: './StatusBar.html',
            LightBorder: './LightBorder.html',
            EggsBorder: './EggsBorder.html',
            MemorialBorder: './MemorialBorder.html',
            Fireworks: './Fireworks.html',
        }
    }
</script>