<CommonDropdown ref:dropdown>
    <form class="loginButton-form" on:submit="login(event)">
        <div class="horizontal center">
            <div class="loginButton-image" style="background-image: {tmpUserImgSrc}"></div>
            <input class="loginButton-username" type="username" placeholder="first.last" bind:value="username" required/>
        </div>
        <input class="loginButton-password" type="password" placeholder="password" bind:value="password" required/>
        <input type="submit" />
        {#if loading}
        <div>Loading...</div>
        {:elseif failLogin}
        <div>Failed to Login</div>
        {/if}
    </form>    
</CommonDropdown>
{#if !$isLoggedIn}
<div class="loginButton horizontal center shadow-2" on:click="refs.dropdown.open()">
    <div class="loginButton-image" style="background-image: {userImgSrc}"></div>
    <div class="loginButton-text">Login</div>
</div>
{:else}
<div class="loginButton horizontal center shadow-2" on:click="logout()">
    <div class="loginButton-image" style="background-image: {userImgSrc}"></div>
    <div class="loginButton-text">Logout</div>
</div>
{/if}

<style>
    input {
        margin: 0;
    }

    .loginButton {
        height: 3rem;
        margin-right: 2rem;
        background: #6f7090;
        color: white;
        border-radius: 3rem;
        overflow: hidden;
        cursor: pointer;
    }

    .loginButton-image {
        height: 3rem;
        width: 3rem;
        background-color: #6f7090;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        background-size: 3rem;
        background-position: center;
    }

    .loginButton-text {
        position: relative;
        top: -2px;
        margin: 0 1rem;
        font-size: 1.25rem;
    }

    .loginButton-form {
        padding: 1rem;
        background: white;
        transform: translate3d(-8.6rem, -2rem, 0);
    }

    .loginButton-form .loginButton-image {
        margin-right: .5rem;
        border-radius: 3rem;
    }

    .loginButton-password {
        margin-left: 56px;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .loginButton-username, .loginButton-password {
        width: 185px;
    }

    .loginButton-form input[type="submit"] {
        margin-left: 176px;
    }
</style>

<script>
    import debounce from 'lodash.debounce';
    import { AppStore } from '../Services/App.store';
    import { login, logout } from '../Services/login.service';

    export default {
        data: () => ({ username: null, password: null, userImgSrc: '' }),
        store: () => AppStore,
        oncreate() {
            this.setImageUrl = debounce(() => {
                this.set({ tmpUserImgSrc: `url(https://photos.asynchrony.com/${this.get().username || ''}` });
            }, 750);
        },
        onupdate({ changed }) {
            if (changed.username) {
                this.setImageUrl();
            }
        },
        ondestroy() {
            this.setImageUrl = null;
        },
        computed: {
            userImgSrc: ({ $username }) => `url(https://photos.asynchrony.com/${$username || ''}`
        },
        methods: {
            login(e) {
                e.preventDefault();
                const { username, password } = this.get();
                if (username && password) {
                    this.set({ loading: true });
                    login(username, password)
                        .then((res) => this.refs.dropdown.close())
                        .catch(() => {
                            this.set({ failLogin: true, loading: false })
                        });
                }
            },
            logout() {
                logout();
            }
        },
        components: {
            CommonDropdown: '../Common/CommonDropdown.html',
        }
    }
</script>