<div ref:border class="light-border" ></div>

<style>
    .light-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        pointer-events: none;
    }
</style>

<script>
    export default {
        methods: {
            createEl() {
                const el = document.createElement('div');
                el.classList.add('us-flag');
                this.refs.border.appendChild(el);
                return el;
            }
        },
        oncreate() {
            const colors = [
                'red',
                'blue',
                'yellow',
                'green',
            ];
            const MAX_LIGHTS = 50;
            const WIN_RATIO = window.innerWidth / window.innerHeight / 1.5;
            const HORZ_LIGHTS = Math.ceil((MAX_LIGHTS / 2) * WIN_RATIO);
            const VERT_LIGHTS = MAX_LIGHTS - HORZ_LIGHTS;

            const isTop = Math.floor(HORZ_LIGHTS / 2);
            const isRight = Math.floor((HORZ_LIGHTS / 2) + (VERT_LIGHTS / 2));
            const isBottom = Math.floor((HORZ_LIGHTS) + (VERT_LIGHTS / 2));

            const els = Array.from({ length: MAX_LIGHTS })
                .map(() => this.createEl())
                .map((el, i) => {
                    if (i < isTop) {
                        el.style.top = '0';
                        el.style.left = `${(i / (HORZ_LIGHTS / 2)) * 100}vw`;
                    } else if (i < isRight) {
                        el.style.top = `${((i - Math.floor((HORZ_LIGHTS / 2))) / (VERT_LIGHTS / 2)) * 100}vh`;
                        el.style.right = 0;
                    } else if (i < isBottom) {
                        const beforeIndexs = Math.floor((HORZ_LIGHTS / 2) + (VERT_LIGHTS / 2))
                        el.style.bottom = '0';
                        el.style.right = `${((i - beforeIndexs) / (HORZ_LIGHTS / 2)) * 100}vw`;
                    } else {
                        const beforeIndexs = Math.floor((HORZ_LIGHTS) + (VERT_LIGHTS / 2))
                        el.style.bottom = `${((i - beforeIndexs) / (VERT_LIGHTS / 2)) * 100}vh`;
                        el.style.left = '0';
                    }

                    return el;
                })
                .map((el, i) => {
                    el.classList.add(colors[i % colors.length]);
                });
        }
    }
</script>