
<div class="status-bar horizontal center">
    <div class="flex"></div>
    <Jenkins></Jenkins>
    <Gitlab></Gitlab>
</div>

<style>
    .status-bar {
        position: relative;
        z-index: 10;
        height: 32px;
        background: #3c3c3c;
        box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, .5);
    }
</style>

<script>
export default {
    components: {
        Gitlab: '../Gitlab/Gitlab',
        Jenkins: '../Jenkins/Jenkins'
    }
}
</script>