<div ref:content>
</div>

<style>
    div {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }
</style>

<script>
    import { withRoutes } from './router.service';

    export default {
        oncreate() {
            this.view = null;
            withRoutes(this.get().routes, (comp, overlay) => {
                this.setView(comp, overlay);
            });
        },
        methods: {
            setView(component, overlay) {
                if (!(this.view instanceof component)) {
                    this.view && this.view.destroy();
                    this.view = new component({
                        target: this.refs.content
                    });
                }

                this.overlay && this.overlay.destroy();

                if (overlay) {
                    this.overlay = new overlay({
                        target: document.body,
                    });
                }
            }
        }
    };

</script>
