{#each $remoteJobs as job (job.name)}
<label class="select-jobs">
    <input
        type="checkbox"
        bind:group="selectedJobs"
        value="{job.name}"
        hidden
    >
    <div class="job row horizontal center">
        <span>{job.name}</span>
    </div>
</label>
{/each}
{#if loading}
<i class="material-icons loading">refresh</i>
{/if}

<style>
    .select-jobs input:checked ~ .row {
        border: 2px solid #8f563d;
    }

    .job {
        padding: 0.25rem;
        margin: .25rem 0;
        border: 2px solid transparent;
        background: #3c3c3c;
        cursor: pointer;
    }
</style>

<script>
import { JenkinsService } from './Jenkins.service';
import { JenkinsStore } from './Jenkins.store';

export default {
    data: () => ({
        loading: true,
        selectedJobs: JenkinsStore.get().selectedJobs,
    }),
    store: () => JenkinsStore,
    oncreate() {
        JenkinsService.getBuilds()
            .then(remoteJobs => {
                JenkinsStore.set({ remoteJobs });
                this.set({ loading: false });
            });

        this.on('destroy', () => {
            JenkinsStore.set({ selectedJobs: this.get().selectedJobs });
        });
    }
}
</script>