<div class="build-status {status} horizontal center">
    <div class="build-indicator" title="{job}: {status}"></div>
    <div class="job-name { status != 'blue' &&  status != 'loading' ? '' : 'hidden' }">{job}</div>
</div>

<style>
    .build-status {
        margin-right: 1rem;
        border: 2px solid #ccc;
        border-radius: 24px;
        padding: .125rem;
    }

    .build-indicator {
        height: 1rem;
        width: 1rem;
        padding: .25rem;
        border-radius: 50%;
        background: #ccc;
    }

        .build-status.blue .build-indicator { background: #74e274 }
         .build-status.red .build-indicator { background: #ff668a }
   .build-status.blue_anime .build-indicator { background: #4d82ff }
   .build-status.red_anime .build-indicator { background: #4d82ff }

     .build-status.pending .build-indicator { background: #ff9f76 }
    .build-status.canceled .build-indicator { background: #ccc }
     .build-status.skipped .build-indicator { background: #ccc }

    .job-name {
        margin: 0 .5rem;
        line-height: 1;
        white-space: nowrap;
        transition: .2s width;
        overflow: hidden;
        width: 15rem;
        text-align: center;
        text-transform: uppercase;
    }

    .job-name.hidden {
        width: 0;
        margin: 0;
    }
</style>

<script>
import { JenkinsStore } from './Jenkins.store';

export default {
    store: () => JenkinsStore,
    computed: {
        status: ({ $remoteJobs, job }) => {
            console.log({ $remoteJobs, job });
            if (!$remoteJobs || !job) {
                return 'loading';
            } else {
                const foundJob = $remoteJobs.find(j => j.name === job);

                return foundJob ? foundJob.color : 'loading';
            }
        }
    }
}
</script>