<div class="jenkins-menu horizontal center">
    {#each $jobs as job}
        <JenkinsBuildStatus {job}></JenkinsBuildStatus>
    {/each}
</div>

<style>
    .jenkins-menu {
        position: relative;
        color: #cccccc;
        margin-right: 1rem;
        height: 32px;
    }
</style>

<script>
    import { JenkinsStore } from './Jenkins.store';
    import { JenkinsTimer } from './Jenkins.timer';

    export default {
        store: () => JenkinsStore,
        oncreate() {
            if (JenkinsStore.get().jobs.length > 0) {
                JenkinsTimer.start();
            }

            JenkinsStore.on('state', ({ current }) => {
                if (current.jobs.length > 0) {
                    JenkinsTimer.start();
                } else {
                    JenkinsTimer.stop();
                }
            })
        },
        components: {
            JenkinsBuildStatus: './JenkinsBuildStatus',
        }
    }
</script>