<svelte:head>
    <title>MFK Kanban</title>
</svelte:head>
{#if $updatingPriorities}
<UpdatingPriorities></UpdatingPriorities>
{/if}

<div ref:appContent></div>

<style>
    div {
        height: 100%;
    }
</style>

<script>
    import { AppStore } from './Services/App.store';
    import Router from './router/Router';
    import Routes from './router/routes';

    export default {
        store: () => AppStore,
        oncreate() {
            this.router = new Router({
				target: this.refs.appContent,
				data: { routes: Routes },
			});

			window.app = this;
        },
        components: {
            UpdatingPriorities: './UpdatingPriorities',
        }
    }
</script>
