<div class="card">
    <h1>Login to MFK Kanban</h1>
    <div class="vertical card-wrapper">
        <div class="loginButton-image">{initials}</div>
        <form
            class="loginButton-form"
            on:submit="login(event)"
        >
            <div class="vertical center form-content">
                <input
                    class="loginButton-username"
                    type="username"
                    placeholder="first.last"
                    bind:value="username"
                    required
                />
                <input type="submit" />
            </div>
        </form>
    </div>
</div>

<style>
    .card {
        position: fixed;
        z-index: 500;
        max-height: 800px;
        max-width: 600px;
        height: 80vh;
        width: 50vw;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: white;
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .23), 0 0 2px 1px rgba(0, 0, 0, .23)
    }

    .card-wrapper {
        height: 100%;
        justify-content: space-around;
    }

    h1 {
        text-align: center;
    }

    .form-content {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        align-items: stretch;
    }

    .form-content input {
        width: 100%;
    }

    .loginButton-image {
        height: 15rem;
        width: 15rem;
        background-color: #6f7090;
        border-radius: 15rem;
        margin: 0 auto;
        margin-bottom: 2rem;

        display: flex;
        justify-content: center;
        color: white;
        font-size: 8rem;
        line-height: 14rem;
        text-transform: uppercase;
    }
</style>

<script>
    import debounce from 'lodash.debounce';
    import { AppStore } from './Services/App.store';
    import { login } from './Services/login.service';

    export default {
        data: () => ({ username: null, }),
        store: () => AppStore,
        computed: {
            initials: ({username}) => (username || '').split(' ').map(w => w.substring(0, 1)).slice(0, 2).join(''),
        },
        methods: {
            login(e) {
                e.preventDefault();
                const { username } = this.get();
                if (username) {
                    login(username);
                }
            },
        },
    }
</script>