<div class="backdrop horizontal">
    <div class="card horizontal center">
        {#if $updatingPrioritiesError}
            <div>Error: {$updatingPrioritiesError}</div>
        {:else}
            <i class="material-icons loading">refresh</i>
            <div style="text-align: center">
                <div>Please Wait</div>
                <div>Updating Priority for {$updatingPriorities} Bug{$updatingPriorities > 1 ? 's' : ''}</div>
            </div>
        {/if}
    </div>
</div>

<style>
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: all;
    z-index: 10000;
    background: rgba(0,0,0,.74);
    animation: fadeBackground 1.5s cubic-bezier(0.89, 0.65, 0.48, 1.02) 1;
}

.card {
    margin: auto;
    background: white;
    box-shadow: 0 0 0 0 rgba(50, 50, 50, .74);
    border-radius: 5px;
    padding: 2rem;
    animation: slide-in 1.5s cubic-bezier(0.89, 0.65, 0.48, 1.02) 1;
}

i {
    margin-right: 2rem;
}

.loading {
    animation: rotate 1.25s ease-out infinite;
}

@keyframes rotate {
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes fadeBackground {
    from {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes slide-in {
    from {
        transform: translate3d(0, -100vh, 0);
    }
}
</style>

<script>
    import { AppStore } from './Services/App.store';

    export default {
        store: () => AppStore,
    }
</script>