<div class="positioner" ref:positioner></div>
<!-- Work around to ensure Svelte will deliver the slot -->
{#if false}
    <slot></slot>
{/if}

<style>
    .positioner {
        position: relative;
        height: 0;
        left: 0;
    }
</style>

<script>
    import DropdownContent from './CommonDropdownContent.html';

    export default {
        methods: {
            open(dir) {
                const { top, left, width } = this.refs.positioner.getBoundingClientRect();
                if (!dir) {
                    dir = 'right';
                }
                const content = new DropdownContent({
                    target: document.body,
                    data: { top, left, right: (window.innerWidth - left) - width, dir },
                    slots: this._slotted,
                });

                this.set({ content });

                content.on('close', () => {
                    this.close();
                });
            },
            close() {
                const { content } = this.get();
                if (content) {
                    content.destroy();
                }
            }
        }
    }
</script>