<div class="backdrop" on:click="close()"></div>
<div class="content" style="{contentStyle}">
    <slot>No Slot Content</slot>
</div>

<style>
    .backdrop {
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: all;
        z-index: 999;
    }

    .backdrop, .content {
        position: fixed;
        top: 0;
    }
    .content {
        z-index: 1000;
    }
</style>

<script>
    export default {
        methods: {
            close() {
                this.fire('close');
            }
        },
        computed: {
            contentStyle: ({top, left, right, dir}) => {
                if (top == null || left == null || right == null || dir == null) {
                    return '';
                } else {
                    return `top: ${top}px; ${dir == 'right' ? `left: ${left}px` : `right: ${right}px`}`
                }
            }
        }
    }
</script>