<article ref:article class="selectable" class:task-lists="enableLists">{@html md}</article>

<style>
    article {
        padding: 0 .5rem;
        width: 100%;
    }

    article.task-lists :global(input[type="checkbox"]) {
        height: 1.2rem;
        width: 1.2rem;
    }
</style>

<script>
    import { Converter } from 'showdown';

    const converter = new Converter({
        simplifiedAutoLink: true,
        excludeTrailingPunctuationFromURLs: true,
        simpleLineBreaks: true,
        openLinksInNewWindow: true,
        emoji: true,
        tasklists: true,
    });

    export default {
        data: () => ({ 
            value: '',
        }),
        oncreate() {
            this.on('update', ({ changed, current }) => {
                if (changed.md && current.enableLists) {
                    this.handleNewMd();
                }
            });

            this.on('destroy', () => {
                this.clearListeners();
            });
        },
        computed: {
            md: ({ value }) => converter.makeHtml(value),
        },
        methods: {
            handleNewMd() {
                this.clearListeners();

                Array.from(this.refs.article.querySelectorAll('input[type="checkbox"]')).forEach(el => {
                    el.disabled = false;
                    const onChange = () => {
                        const preText = `- [${el.checked ? ' ' : 'x'}]${el.parentElement.textContent}`;
                        const postText = `- [${el.checked ? 'x' : ' '}]${el.parentElement.textContent}`;

                        this.set({ value: this.get().value.replace(preText, postText) });
                    }
                    el.addEventListener('change', onChange);
                    this.lls.push(() => el && el.removeEventListener('change', onChange));
                });
            },
            clearListeners() {
                if (this.lls) {
                    this.lls.forEach(l => l());
                }

                this.lls = [];
            }
        }
    }
</script>