<div class="pic" title="{user}">{initials}</div>
<style>
    .pic {
        height: 2rem;
        width: 2rem;
        background-color: #6f7090;
        border-radius: 2rem;
        background-size: 2rem;
        background-position: center;
        margin-right: .5rem;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 1rem;
        line-height: 2rem;
        text-transform: uppercase;
    }
</style>

<script>
    export default {
        data: () => ({user: ''}),
        computed: {
            initials: ({user}) => (user || '').split(' ').map(w => w.substring(0, 1)).slice(0, 2).join(''),
        },
    }
</script>